* {
  margin: 0;
  padding: 0;
}

p {
  position: relative;
  background-color: black;
  color: white;
  top: -80px;
  left: 50px;
  height: 75px;
  width: 120px;
  opacity: .8;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

#container {
  display: grid;
  width: 1200px;
  height: 600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: darkblue;
  grid-template-areas:
  "tiger bear dog cat"
  "sheep pig rabbit fish";
}